In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('samm_new_25.csv')

In [3]:
df['len'] = df['end_frame'] - df['start_frame']

In [4]:
print(df.head())

    subject  video_name  start_frame  apex_frame  end_frame  type_idx  \
0  samm_006  samm_006_1           70          80         92         1
1  samm_006  samm_006_1          445         448        453         2
2  samm_006  samm_006_1          238         243        248         2
3  samm_006  samm_006_1           40          45         50         2
4  samm_006  samm_006_1          417         423        427         2

          au  len
0  4(B/C)+7B   22
1        4+7    8
2          4   10
3        4+7   10
4        4+7   10

In [6]:
df.groupby(['type_idx']).agg([np.mean, min, max])

         start_frame            apex_frame             end_frame            \
                mean min   max        mean min   max        mean min   max
type_idx
1         269.335277   0  1150  295.142857  -1  1197  323.346939  20  1204
2         259.547170   9  1406  261.320755  -1  1415  268.754717  20  1418

                len
               mean min  max
type_idx
1         54.011662  12  646
2          9.207547   4   13

In [2]:
import glob
import os

In [12]:
csv_list = glob.glob(os.path.join('../output/casme/', '*/epoch_*.csv'))

In [13]:
min_epoch = 1e3
for csv_file in csv_list:
    df = pd.read_csv(csv_file)
    epoch = int(df.loc[0, 'epoch'].item())
    min_epoch = min(min_epoch, epoch)

print(min_epoch)

17